@import 'meyer-reset.css';
@import 'projects/project-grid.css';
@import 'projects/responsive-layout-garden/layout-garden.css';
@import 'projects/responsive-layout-garden/layout/layout1/layout1.css';
@import 'projects/responsive-layout-garden/layout/layout2/layout2.css';
@import 'projects/responsive-layout-garden/layout/layout3/layout3.css';
@import 'projects/responsive-layout-garden/layout/layout4/layout4.css';

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: Avenir;
	color: #000;
}

body{
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
}

main{
}

inner-column{
	display: block;
	max-width: 900px;
	margin-left:  auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}


.nav-container inner-column{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

header{
	margin-top: 3vh;
}

.nav-container{
	padding-right: 20px;
	padding-top: 4vh;
}


nav{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	gap: 60px;
}

.nav-container a{
 	position: relative;
  text-decoration: none;
	font-family: 'Avenir';
	font-weight: regular;
	font-size: 17px;
}

.nav-container a::after{
	content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.nav-container a:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

h1{
	font-family: 'Avenir';
	font-weight: black;
	font-size: 60px;
  
	 display: flex; 
	 flex-direction: row; 
	 justify-content: start;
	 align-items: start;

}

.intro-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	min-height: 65vh;
	padding-top: 25vh;
}

.calm-voice{
	font-style: italic;
	font-weight: black 900;
	text-decoration: none;
	padding-left: 5px;
}



.job-container{
	font-size: 30px;
	text-align: left;
	line-height: 1.5;
	margin-top: 10px;
}



socials{
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 50px;
	padding-top: 25vh;
}

socials a{
  text-decoration: none;
  position: relative;
  padding-top: 30px;
/*  */
	font-size: 17px;

}


socials a::after{
	content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

socials a:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}



h2{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

/*PROJECTS*/
.project-heading{
	font-family: 'Avenir';
	font-weight: black;
	font-size: 50px;
	text-align: center;
}

.project-container{
	min-height: 65vh;
	padding-bottom: 10vh;
	padding-top:  5vh;

}

.loud-voice{
	font-size: 17px;
}



project-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	gap: 20px;
}


picture{
	display: block;
	border: none;
	border-radius: 0;
	opacity: 35%;
	overflow: hidden;
	max-width: 200px;
	height: 200px;

}

.project-img{
	width: 100%;
	height: auto;
	object-fit: cover;

}

h3{
	text-align: center;
	font-family: 'Avenir';
	font-size: 15px;
	font-weight: bolder;
	transform: translate(0px, 115px);
}


.project a{
	text-decoration: none;
	font-size: 15px;
}


/*ABOUT*/
.about-container{
	padding-top: 7vh;
	padding-bottom: 10vh;
}


.about-container p{
  font-family: 'Avenir';
	font-size: 15px;
	text-align: justify;
	line-height: 1.4;
	letter-spacing: 0.01em;
	overflow: visible;
}


/*GOALS*/

.goals-container{
  padding-bottom: 10vh;
  padding-top: 5vh;
}

ul{
	padding-left: 7vh;
}

li{
  font-family: 'Avenir';
	font-weight: regular;
	font-size: 15px;
}

.goals-container p{
  font-family: 'Avenir';
	font-weight: regular;
	font-size: 20px;
}

.goals-heading{
	font-family: 'Avenir';
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.sub-heading{
	font-family: 'Avenir';
	font-weight: bold;
	font-size: 30px;
	text-align: left;
	padding-top: 5vh;
}

.goals-container p{
	font-family: 'Avenir';
	font-weight: regular;
	font-size: 20px;
}




/*footer 


.footer-header{
	text-align: center;
	padding-top: 30px;
	font-size: clamp(30px, 3vw, 30px);
	color: #E5F0FB;
}

.footer-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
}

.footer-paragraph{
	text-align: center;

	font-family: 'Avenir';
	font-weight: regular;
	font-size: 15px;
	color: #E5F0FB;
	padding-top: 20px;

	margin-left: auto;
	margin-right: auto;
} 


.say-hello-container{
	display: flex;
	flex-direction: column;
}

.say-hello-container button{
	border: none;
	border-radius: 10px;
	padding: 20px;
	width: 150px;
	background-color: #E5F0FB;
	margin-top: 20px;
	margin-bottom: 30px;


	display: block;
	margin-left: auto;
	margin-right: auto;
}

.say-hello-container button a:hover{
	border: none;
	font-size: 20px;
}

.say-hello-container a{
	text-decoration: none;
	color: #24505B;
	font-family: 'Avenir';
	font-weight: bold;
	font-size: 15px;
}


*/

@media (max-width: 500px){
	.nav-container{
		padding-left: 20px;
	}

	socials{
		padding-top: 20vh;
	}

	.intro-container{
		padding-top: 20vh;
	}	

}

@media (min-width: 700px){
	project-list{
		flex-direction: row;
	}

	.nav-container{
		padding-left: 20px;
	}


}










