goals-list {
	display: block;

}


.goal-item {
	line-height: 1.2em;
	border:  2px solid var(--black);
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 50px;

	border-radius: 30px;
	box-shadow: 7px 7px var(--accent);

}

goals-list ol {
	list-style: circle;
	padding-left: 30px;
}

goals-list .lazy-voice {
	padding-top: 10px;
}

.goals .intro-voice {
	padding-top:  20px;
}

.goal-list {
	padding-top: 10px;
}
