*{
   box-sizing: border-box;   
}

html{
   background-color: #EDEDED;
   scroll-behavior: smooth;
}

body{
   margin: 0;
}

.inner-content{
   max-width: 1000px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;

}

.logo{
   width: 150px;
   display: block;
   margin-bottom: 20px;
   margin: 0 auto;
   margin-top: 20px;
}

nav a{

   font-family: Heiti TC;
   font-size: 20px;
   color: #75a971;
   font-weight: bolder;
   text-decoration: none;
   margin: 15px;
   overflow: hidden;   
}

nav a:hover{
   opacity: 0.1;
   transition: 0.3s;
}

nav{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


/* Image */

.container {
  position: relative;
  display: block;
  margin: 0 auto;
}

picture{
   display: block;
}

.image {
  opacity: 0.5;
  display: block;
  border-radius: 30px;
  transition: .5s ease;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.text {
  /*background-color: #ff1b88;*/
  color: #234a00;
  font-size: clamp(40px, 10vw, 100px);
  font-family: Heiti TC;
  font-weight: bolder;
  margin: 0;
 
}

.caption{
   font-size: 20px;
   color: #234a00;
   font-family: Heiti TC;
   margin: 0 auto;
}

.img-button{
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: none;
   background-color: #75a971;
   color: white;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 10px;
   font-family: Heiti TC;
   font-size: clamp(5px, 2vw 12px);
   font-weight: bolder;
   width: 20vw;
}

.img-button a{
   text-decoration: none;
   color: #234a00;

}


/* location */ 
.location{
   margin: 50px;
}

h2{
   font-family: Heiti TC;
   font-weight: bolder;
   font-size: 6vw;
   color: #75a971;
   display: block;
   text-align: center;
}

.location-img1{
   border-radius: 100%;
   border: 5px solid #75a971;
   width: 40vw;
   height: 40vw;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.location-container {
  position: relative;
  max-width: 100%;
  min-width: 30%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.location.img1 {
  opacity: 1;
  display: block;
  height: auto;
  color: white;
  max-width: 95%;
  min-width: 30%;
  transition: .5s ease;
  backface-visibility: hidden;
}

/*
.middle-text {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2vw
}
*/

.middle-text{
   background-color: #75a971;
   max-width: 45%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   opacity: 0.9;
   border-radius: 10px;

}

.location-text {
  color: white;
  font-size: 2vw;
  font-family: Heiti TC;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.address{
   font-family: Heiti TC;
   color: white;
   font-size: 2vw;
   max-width: 70%;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.5;
}

.middle-text a{
   text-decoration: none;
}

/* menu */ 
.menu-containers{
   display: block;
}

.slide-container{
   display: block;
   margin-left: auto;
   margin-left: auto;
   text-align: center;
}


/*menu

.gallery{
   width: 60%;
   display: inline-block;

   
}

.gallery-item{    
   width: 35%;
   height: 35%;
   display: inline-block;
   position: relative;
   margin: 0 auto;
   display: grid;
   place-items: center;

}

.gallery-img{
   width: 100%;
   border-radius: 20%;
   margin: 20px;
}

.text-block{
   color: #d52b23;
   font-size: 2vw;
   font-family: Heiti TC;
   font-weight: bolder;
   position:  absolute;
   bottom: 30px;
   background-color: white;
   text-align: center;
   width: 50vw;
   height: 6.5vw;
}



button{
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: none;
   background-color: #ff187f;
   color: white;
   padding: 15px;
   margin-top: 20px;
   margin-bottom: 10px;
   
   font-family: Heiti TC;
   font-size: 15px;
   font-weight: bolder;


}

button:hover{
   opacity: 0.1;
   transition: 0.3s;
}
*/

/*footer*/ 

footer{
   background-color: #75a971;
   padding: 0;
}


.inner-content2{
   max-width: 700px;
   margin-right: auto;
   margin-left: auto;
}

/*stay in touch*/

.connect p{
    color: white;
   font-family: Heiti TC;
   font-size: 16px;
   font-weight: bolder;
   text-align: center;
   margin: 5px;
   margin-top: 10px;
}

.connect h3{
   color: #234a00;
   font-family: Heiti TC;
   font-size: 40px;
   font-weight: bolder;
   text-align: center;
   padding-top: 20px;
   margin: 0;
}

.container-form{
   display: block;
   text-align: center;
   margin-top: 20px;   
}
.email{
   font-family: Heiti TC;
   color: #234a00;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 5px;
   width: 250px;
   height: 30px;
   border: none;
   font-size: 12px;
   margin-bottom: 0;
}  

.submit-btn{
   background-color: white;
   border: none;
   color:#234a00;
   width: 100px;
   height: 30px;
   border-radius: 5px;
   font-family: Heiti TC;
   font-weight: bolder;
   font-size: 12px;
   margin-top: 5px;
}


/* about us */

.aboutus{
   width: 70%;
   margin-right: auto;
   margin-left: auto;
   margin-top: 30px;
   padding-bottom: 20px;
}

.aboutus h4{
   color: #234a00;
   font-family: Heiti TC;
   font-size: 30px;
   font-weight: bolder;
   text-align: center;
   
   margin: 0;
}

.aboutus p{
   color: white;
   font-family: Heiti TC;
   font-size: 15px;
   font-weight: lighter;
   line-height: 1.5;
   text-align: center;
   padding-left: 10px;
}


/*contact us*/ 

.contact-us{
   width: 75%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.contact-us h4{
   color: #234a00;
   font-family: Heiti TC;
   font-size: 30px;
   font-weight: bolder;
   text-align: center;
   padding-top: 50px;
   margin: 0;
}

.contact-container{
   color: white;
   font-family: Heiti TC;
   font-size: 15px;
   font-weight: lighter;
   padding: 10px ;
}

.contact-container a{
   text-decoration: none;
   color: white;
}


/*social media*/ 

.icon{
   display: block;
   margin: 0 auto;
   text-align: center;
}
.instagram{
   width: 30px;
   margin: 7px;
   margin-bottom: 10px;
}

.facebook{
   width: 30px;
   margin: 7px;
   margin-bottom: 10px;
}

.twitter{
   width: 38px;
   margin: 7px;
}

.tiktok{
   width: 40px;
   margin: 7px;
}
