@import"../css/meyer-reset.css"; 
/*@import"../css/developer.css"; */
@import"../css/settings.css"; 
@import"../css/setup.css"; 



html {
  --black: #111111;
  --white: #FFFFFF;
  --color: #FE11A8;
  --highlight: #4EA1FD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 10px;

}

inner-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}


.detail-img {
  max-width: 30px;
  margin-bottom: 1vh;
  background-color: var(--color);
  border: 3px solid var(--black);
  border-radius: 100%;
}

.detail-img img {
  width: 100%;
  height: auto;
  opacity: 0;
}

.detail-square {
  max-width: 25px;
  background-color: var(--highlight);
  border: 3px solid var(--black);
  /**/
  position: relative;
  right: -15px;
  bottom: 45px;
}

.detail-square img {
  width: 100%;
  height: auto;
  opacity: 0;

}

.intro {
  margin-top: 5vh;
  margin-bottom: 2vh;

}

.detail-section {

}

.detail {
  margin-top: 5vh;
}

.last-detail {
  margin-top: 5vh;
}


.tiny-voice {
  font-size: 10px;
  font-weight: bolder;
  color: var(--color);
}

.loud-voice {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 2vh;
  padding-top: 1vh;
}

.bold-voice {
  font-size: 15px;
  font-weight: bolder;
  padding-bottom: 1vh;
}


.attention-voice {
  font-size: 12px;
  line-height: 1.4em;
}

.small-voice {
  font-size: 12px;
  line-height: 1.4em;
}

.quiet-voice {
  font-size: 14px;
  line-height: 1.4em;
}

hr {
  border: 1px solid var(--highlight);
  background-color: var(--highlight);
  margin-top: 5vh;
  margin-bottom: 10px;
  width: 150px;
}

.last-detail {
  margin-bottom: 5vh;
}


@media (min-width: 550px) {

  .detail {
    border: 2px solid var(--black);
    margin-top: 0;
    padding: 20px;
  }

  .detail-section {
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 500px;

  }

  .intro {
    max-width: 400px;
  }

  .quiet-voice {
    font-size: 15px;
  }

  .loud-voice {
    font-size: 25px;
  }

  .bold-voice {
    font-size: 15px;
  }


  .small-voice {
    color: var(--white);
    line-height: 1.5em;
    padding-top: 0px;
    max-width: 200px;
  }

  .last-detail {
    background-color: var(--highlight);
    max-width: 300px;
    padding: 15px;

  }

  hr{
    display: none;
  }

}


@media (min-width: 700px) {

  .detail-section {
    max-width: 800px;
  }

  .attention-voice {
  }
}












