@import "meyer-reset.css"; 
@import "settings.css"; 
@import "setup.css"; 
@import "typography.css";

@import "site-header.css";
@import "hero.css";
@import "center-content.css"; 

@import "modules.css"; 


* {
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif; 
}

body {
	padding: 0;
}

inner-column {
	display: block;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: ;
}

li {
	list-style: none;
}

