@import meyer-reset.css; 


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;

}

body{
	background-color: #FFFAF5;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;

}

.inner-column{
/*border: 3px blue solid;*/
	width: 900px;
	margin-left:  auto;
	margin-right: auto;
}


header{
/*border: 4px solid red;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}

.nav-container{
/*	border: 2px solid deeppink;*/
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding-top: 20px;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 50px;

}

.nav-container a{
/*	border: 2px solid hotpink;*/
	text-decoration: none;
	color: #A66C6C;
	font-family: 'Tienne';
	font-weight: black 900;
	font-size: 17px;

	display: flex; 
	flex-direction: row;
	justify-content: flex-end; 
	align-items: center; 
}

h1{
	/*border: 4px solid blue;*/
	color: #A66C6C;
	font-family: 'Tienne';
	font-weight: black 900;
	font-size: 60px;
  
  display: flex; 
  flex-direction: row; 
  justify-content: start;
  align-items: center;

}

.intro-container{
/*border: 2px solid paleturquoise;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	min-height: 775px;
	
}

.resume-name{

	display: block;
	font-style: italic;
	color: #A66C6C;
	font-family: 'Tienne';
	font-weight: black 900;
	font-size: 60px;
	text-decoration: none;
	margin-left: 20px;
}

.resume-name:hover{
	color: black;
	font-style: normal;
}

.job-container{
/*	border: 4px solid green;*/
	color: #A66C6C;
	font-size: 30px;
	font-family: 'Tienne';
	font-weight: regular;
	text-align: left;
	line-height: 1.5;
	margin-top: 10px;
}



.about-container{

	max-width: 95%;
	display: flex; 
	flex-direction: row; 
	justify-content: start;
	align-items: start;
}

.about-paragraph{
	text-align: left;
	font-family: 'Tienne';
	font-weight: regular;
	font-size: 15px;
	color: #A66C6C;
	line-height: 1.5;
	letter-spacing: 0.02em;
	overflow: hidden;
}
	


.background-img1{
	border: none;
	border-radius: 50%;
	width: 50%;
	height: 50%;
	opacity: 60%;
}




h2{
	font-family: 'Tienne';
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #A66C6C;
}

picture{
	border-radius: 100%;
	width: 500px;
	border: 6px dotted #E1C9C9;
	overflow: hidden;

}

picture img{
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;

}



ul li{
	list-style: none;

}

/*PROJECT-LIST*/ 
.projects-container{
/*	border: 4px solid blue;*/
	min-height: 775px;
	padding-bottom: 10vh;

}


.project-list{
/*	border: 2px solid black;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	gap: 20px;


}

picture{
	display: block;
	border: none;
	border-radius: 0;
	object-fit: cover;
	opacity: 35%;
	overflow: hidden;
	width: 275px;
	height: 275px;

}

.project-img{
	width: 100%;
	height: 100%;

}


/*picture:hover{
	width: 310px;
	height: 310px;
}
*/
h3{
	text-align: center;
	font-family: 'Tienne';
	font-size: 15px;
	font-weight: bolder;
	transform: translate(0px, 150px);
	color: #A66C6C;
}


.project a{
	text-decoration: none;
	font-size: 15px;
}





/*footer */

footer{
	/*border: 3px solid red;*/
	background-color: #A66C6C;

}

.footer-header{
	text-align: center;
	padding-top: 30px;
	font-size: clamp(30px, 3vw, 100px);
	color: #FFFAF5;
}

.footer-paragraph{
	text-align: center;

	font-family: 'Tienne';
	font-weight: regular;
	font-size: 15px;
	color: #FFFAF5;
	padding-top: 15px;

	margin-left: auto;
	margin-right: auto;
} 


.say-hello-container{
	display: flex;
	flex-direction: column;
}

.say-hello-container button{
	border: none;
	border-radius: 10px;
	padding: 20px;
	width: 150px;
	background-color: #496684; /*#FFFAF5;*/
	margin-top: 20px;
	margin-bottom: 50px;


	display: block;
	margin-left: auto;
	margin-right: auto;
}

.say-hello-container button a:hover{
	border: none;
	font-size: 20px;
}

.say-hello-container a{
	text-decoration: none;
	color: white; /*#A66C6C*/;
	font-family: 'Tienne';
	font-weight: bold;
	font-size: 15px;
}
