@import 'meyer-reset.css';
@import 'projects/project-grid.css';
@import 'projects/responsive-layout-garden/layout-garden.css';

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: Avenir;
	color: #FFF;
}

body{
	background-color: #08070a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0 auto;
	/**/
/*	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
	min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
}

main{
}

inner-column{
	display: block;
	max-width: 600px;
	margin-left:  auto;
	margin-right: auto;
	padding-left: 20px;
/*	padding-left: 20px;
	padding-right: 20px;*/
}


.nav-container inner-column{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}


.nav-container{
}


nav{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	gap: 60px;
}

.nav-container a{
 	position: relative;
  text-decoration: none;
	font-weight: regular;
	font-size: 15px;
}

.nav-container a::after{
	content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F1CD81;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.nav-container a:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

.intro-container{
	padding-top: 17.5vh;
	padding-bottom: 17.5vh;
}

.intro-container inner-column{
}

text-info{
	display: block;
	font-size: 20px;
}

.name-voice{
	font-weight: 900;
	font-size: 100px;
}

.soft-voice span{
	color: #F1CD81;
}

.excited-voice{
}

.descriptive-container{
}

.socials-list{
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 50px;
}

.socials-list a{
  text-decoration: none;
  position: relative;
/*  */
	font-size: 15px;

}


.socials-list a::after{
	content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F1CD81;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.socials-list a:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}


/*PROJECTS*/
.project-heading{
	font-weight: black;
	font-size: 50px;
	text-align: center;
}

.project-container{
	min-height: 65vh;
	padding-bottom: 10vh;
	padding-top:  5vh;

}

.loud-voice{
	font-size: 17px;
}

.nav-space{
	padding-top: 11.5vh;
}

project-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	gap: 20px;
}


picture{
	display: block;
	border: none;
	border-radius: 0;
	opacity: 35%;
	overflow: hidden;
	max-width: 200px;
	height: 200px;

}

.project-img{
	width: 100%;
	height: auto;
	object-fit: cover;

}

h3{
	text-align: center;
	font-family: 'Avenir';
	font-size: 15px;
	font-weight: bolder;
	transform: translate(0px, 115px);
}


.project a{
	text-decoration: none;
	font-size: 15px;
}




/*ABOUT*/
.about-container{
	padding-top: 10vh;
	padding-bottom: 5vh;

}
.about .nav-container{
	padding: 0px;
	margin: 0px;
}

header{
	display: block;
}

.about-container p{
	font-size: 15px;
	text-align: justify;
	line-height: 1.4;
	letter-spacing: 0.01em;
	overflow: visible;
}

picture{
	max-width: 300px;
	opacity: 0.9;
}
.img-person{
	width: 100%;
	height: auto;
}

.about-container p{
	font-size: 15px;
}

.about-gallery{
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:  10px;
}


/*RESUME*/
resume-card {
	display: block;
	padding: 10px;
}

.info{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}

.category{
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}

hr{

}

.resume-list{
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	list-style: none;
	border: 2px double black;
	padding: 10px;
	margin-bottom: 5vh;
}

.bold-voice {
	display: inline-block;
	text-align: left;
	font-weight: bolder;
	font-size: 15px;
}

.tiny-voice{
	display: inline-block;
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}
.small-voice {
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}

.quiet-voice{
	text-align: left;
	font-weight: bolder;
	font-size: 15px;
}

.task-list{
	list-style: circle;
	/*adding-left: 20px;*/
	font-size: 15px;
}
.list{
	padding-left: 30px;
}

/*GOALS*/

.goals-container{
	margin-top: 10vh;
	margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.goals-list{
	padding-left: 30px;
	padding-top: 5px;
}

.goals-item{
	font-weight: regular;
	font-size: 15px;
	list-style: circle;
}


.goals-container .category{
	padding-top: 10px;
}

.sub-heading{
	font-size: 15px;
	text-align: left;
	padding-top: 10px;
}




/*footer 


.footer-header{
	text-align: center;
	padding-top: 30px;
	font-size: clamp(30px, 3vw, 30px);
	color: #E5F0FB;
}

.footer-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
}

.footer-paragraph{
	text-align: center;

	font-family: 'Avenir';
	font-weight: regular;
	font-size: 15px;
	color: #E5F0FB;
	padding-top: 20px;

	margin-left: auto;
	margin-right: auto;
} 


.say-hello-container{
	display: flex;
	flex-direction: column;
}

.say-hello-container button{
	border: none;
	border-radius: 10px;
	padding: 20px;
	width: 150px;
	background-color: #E5F0FB;
	margin-top: 20px;
	margin-bottom: 30px;


	display: block;
	margin-left: auto;
	margin-right: auto;
}

.say-hello-container button a:hover{
	border: none;
	font-size: 20px;
}

.say-hello-container a{
	text-decoration: none;
	color: #24505B;
	font-family: 'Avenir';
	font-weight: bold;
	font-size: 15px;
}


*/

@media (max-width: 500px){

	socials{
		padding-top: 20vh;
	}

}

@media (min-width: 700px){
	project-list{
		flex-direction: row;
	}


}










