/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #EBCF8B;
	--highlight: #2F112D;
	--accent: #FFD615;
/*	FFE981;*/
/*	#EBCF8B;*/
/*	#0D4E22;*/
}
/* you can make more! */



/* USAGE */
