

/*menu*/
.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	border: 2px solid purple;
	max-width: 100%;

}


.menu-list{
	color: #000;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

.site-menu a{
	color: var(--black);
}


.about-item {
	display: none;
}


.logo {
	max-width: 100px;
}

.logo img {
	width: 100%;
}

.social-list {
	max-width: 30px;
}

