.loud-voice {
	font-size: 80px;
	font-weight: 900;
	-webkit-text-stroke: 2px var(--black);
	color: var(--white);
}

.loud-voice span {
	color: var(--black);
	font-weight: 900;
	padding: 0;
}


.strong-voice {
	font-size: 25px;
}

.bold-voice {
	font-weight: bolder;
	font-size: 20px;
}

.home .intro-voice {
	line-height: 1.3em;
}


.tall-voice {
	font-weight: bold;
}

.intro-voice {

}

.page-header .home .intro-voice {
	font-size: 20px;
}

.page-header .projects .intro-voice {
	padding-top: 20px;
}

.small-voice {
	text-decoration: none;
	padding-top: 10px;
}

.little-voice {
	font-weight: bold;
	font-size: 14px;
}

.lazy-voice {
	font-weight: bold;

}

.normal-voice {
	font-size: 15px;
	line-height: 1.3em;
}

/*responsive layout text*/

.title-voice {
	font-size: 70px;
	font-weight: 900;
	padding-bottom: 2vh;
}

.busy-voice {
	font-size: 20px;
	line-height: 1.2em;
}

.button-voice {
	font-size: 20px;
	text-decoration: none;
}

.intro-form .button-voice {
	font-size: 10px;
	font-weight: bolder;
	
}



.descriptive-voice{

  font-size: 10px;
