
*{
	box-sizing: border-box; 
}

h1{
	text-align: center;
	color:  #00BFFF;
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
}

body{
	background:  #ADD8E6;
}

img{
	max-height: 1000px;
	max-width: 600px;
}

a{
	color: #00BFFF;
}

a:hover{
	color: black;
}


