show-list {
	display: block;
	border: 2px solid paleturquoise;
	padding: 20px;
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}



show-grid{
	display: block;
	border:  2px solid lightsteelblue;
	display: flex; 
	flex-direction: column; 
	padding: 10px;
}

h2{
	color: lightskyblue;
}

.questions{
	color: darkcyan;
	font-size: 12px;
}

span{
	font-weight: bold;
}