dish-list {
	display: block;
	border: 2px solid paleturquoise;
	padding: 20px;
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}



dish-grid{
	display: block;
	border:  2px solid lightsteelblue;
	display: flex; 
	flex-direction: column; 
	padding: 10px;
}

.ingredients{
	color: black;
}


h2{
	color: lightskyblue;
	font-weight: bolder;
	text-align: center;
}

.questions{
	color: darkcyan;
	font-size: 12px;
}

span{
	font-weight: bold;
}

.dish{
	font-weight: bolder;
	font-size: 20px;
}