*{ 
  border-boxing: box-sizing; 
  padding: 0px;
  margin: 0px;
}



body{
   display: flex; 
   flex-direction: column;
   min-height: 100vh;
}

.inner-column{
   max-width: 700px;
   padding: 10px;
   margin-right: auto; 
   margin-left: auto;
}


.page-content{
   flex-grow: 1;
}


picture {
   display: block;
   background-color: #333;
  
  /* inline by default (browser's choice) */
}

img {
  display: block; /* it's inline-block by default */
  width: 100%; /* fill it's parent element */
  height: auto;
  opacity: 0;

}




.site-header{
   background-color: #999;
}

.site-header .inner-column{
   display: flex; 
   flex-direction: row; 
   justify-content: start; 
   align-items: center; 
   gap: 20px;
}

.logo{
   width: 70px;
   border: 1px solid black;
   overflow: hidden;
   border-radius: 100%;
   background-color: #333;
}

.logo img{
   display: block;
   width: 100%;
   height: auto;
}


.welcome .inner-column{
   display: flex; 
   flex-direction: column; 
   justify-content: center;
   align-items: start;
   gap: 20px;
   overflow: hidden;
}

.welcome{
   padding: 10vh 0;
   background-color: pink;
   
}

.welcome-img{
   max-width: 400px;

}

.info{
   display: flex; 
   flex-direction: column; 
   justify-content: center;
   align-items: start;
}


button{
   width: 200px;
   min-width: 75px;
   height: 50px;
   border-radius: 40px 40px;
   
   border: none;
   display: inline-block;
   background-color: lightgreen;
}

.bonus{
   border: 1px solid black;
}

/*ABOUT */ 

.about {
   background-color: lightblue;
   padding: 5vh 0;
}

.about .inner-column{
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   align-items: center; 
   gap: 20px; 
   
  
}
.grid{
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   align-items: start;
   gap: 10px;
   max-width: 90%;
 
}
.grid-info{
   padding: 15px; 
   background-color: pink;
   gap: 10px;

   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   align-items: start;
   
}


.grid-info h3{
   font-family: sans-serif; 
   font-size: 20px; 

}


@media (min-width: 300px){
   
   .bonus{
      display: none;
   }
}

@media (max-width: 300px){
   
   .bonus{
      display: none;
   }
}
  

@media (min-width: 600px){
   .welcome .inner-column{
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
   }

   .bonus{
      display: none;
   }
   
   .grid-img{
      flex-basis: 50%;
   }
   
   .grid-info{
      flex-direction: row;  
   }
   
   h3{
      flex-basis: 50%;
      padding-top: 5px;
      
   
      
   }
}


@media (min-width: 700px){
   .bonus{
      display: block;
   }
   
   .grid{
      flex-direction: row
   }
   
   .grid-info{
      flex-direction: column;
   }
}

@media (min-width: 900px){
   .bonus{
      display: none;
   }
   .welcome .inner-column{
      flex-direction: row;
   }
   

   .grid-info{
      flex-direction: row;
      padding: 0;
      width: 100%;
   }
   
   h3{

   }
}



h1{
   font-family: sans-serif; 
   font-size: clamp(40px, 2vh, 30px);
   text-transform: uppercase;
   font-weight: bolders;
}

h2{
   font-family: sans-serif; 
   font-size: clamp(20px, 2vh, 30px);
   text-transform: uppercase;
   font-weight: bolders;
}