*{ 
	font-family: avenir;
}

/*h1*/
.loud-voice{
	font-weight: bolder;
	text-align: center;
	font-size: 50px;
}

/*list title*/
.calm-voice{
	font-weight: bolder;
	font-size: 15px;
	padding: 3px;
	padding-bottom: 10px;
}

.detail-voice{
	font-weight: normal;

}

/*list see more*/
cafe-card a{
	text-decoration: none;
}

cafe-card a:hover{
	color: var(--universal);
}


/*home*/

.big-voice{
	font-size: 70px;
	font-weight: bolder;
	color: var(--universal);
}


.intro-voice{
	font-size: 15px;
	font-weight: bolder;
	padding-top: 10px;
	color: var(--black);
}


/*Create*/


.create .loud-voice{
	font-size: 40px;
	text-align: left;
	color: var(--universal);
}


/*detail*/
.back-link{ 
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
 }

 .cafe_name{
 	font-size: 20px;
 	text-align: center;
 	font-weight: bolder;
 	margin: 20px;
 }



























