
*{
	font-family: Avenir;
}

.loud-voice	{
	font-family: Avenir;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

graphic-diptych text-content .calm-voice{
	text-align: center;
}

graphic-diptych .intro-voice	{
	font-family: Avenir;
	font-size: 60px;
	font-weight: bolder;
	text-align: center;
	margin: 0px;
}

call-to-action .attention-voice{
	font-family: Avenir;
	font-size: clamp(30px, 2vw, 2rem);
}

article-card .attention{
	font-size: 30px;
	text-align: center;
}
articles-intro .attention-voice{
	font-size: 50px;
	font-weight: bold; 
  	text-align: center;
  	margin: 0px;
  	padding: 0px;
}

articles-intro .caption-voice{
	font-family: Avenir;
	font-size: 1.2rem;
	text-align: center;
	padding: 0px; 
	margin: 0px;
}



.something-for-site-map-headings {
	/* */
}

.calm-voice {
	font-family: Avenir;
	font-size: 1.2rem;
	line-height: 1.4;
	text-align: center;
}

article-card .calm-voice{
	text-align: center;
}
.link span{
	text-align: center;
}




/* these would be scoped to section or to an article element */
/* this is just a loose setting for now $todo */
p + p {
	margin-top: 14px;
}

h1 + p {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}
