.home {
		background-image: url();
		background-size: cover;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat; 
		background-attachment: fixed;
}

.page-section {
	padding-top: 29vh;
	padding-bottom: 29vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

text-content {
	display: block;
	max-width: 500px;
	background-color: darkseagreen;
	padding: 10px;
}

