pants-item {
	display: block;
	padding: 10px;
	margin: 10px;
	/**/
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	
}

pants-item .pants-img {
	display: block;
	width: 300px;
}

img { 
	width: 100%;
	height: auto;
}

pants-item .quite-voice {
	text-align: center;
}


pants-item text-content {
	border: 2px solid yellow;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 10px;
}

pants-item .quiet-voice {
	font-size: 20px;
}