footer {
	display: block;
	background-color: var(--accent);
	margin-top: auto;
}

footer inner-column {
	max-width: 100%;
	padding-bottom: 10px;
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


body footer {
	padding: 10px;
	max-width: 100%;
}

site-map {
	display: block;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

}

.footer-item {
	list-style: none;
	gap: 10px;
	color: var(--black);
}

.footer-item a {
	text-decoration: none;
}

.footer-item a:hover {
	font-weight: bolder;
}


social li {
	display: block;
	text-decoration: none;
	padding: 10px;
}

social {
	gap: 30px;
}

.footer-logo {
	max-width: 30px;
}


.footer-logo:hover {
	max-width: 32px;

}

.footer-logo img {
	width: 100%;
	height: auto;
}


links {
	display: block;
	display: grid;
	grid-template-columns: repeat(3, 100px);
	gap: 30px;
}

.others {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.work-menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.about-menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

social {
	display: block;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

social img {
	min-width: 30px;
}

.404 .footer {
	border: 2px solid red;
}


.layouts footer {
  padding-right: 61vh;

}


@media (max-width: 500px) {
	site-map {
		flex-direction: column;
		gap: 20px;
	}

	links {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		width: 100%;
	}



	social {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		width: 100%;
	}
}
