@import 'meyer-reset.css';
@import 'setup.css';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






html{
	background-color: wheat;
	/*background-image:  url('https://media.istockphoto.com/photos/aerial-view-of-misty-mountains-at-sunrise-picture-id1195458582?k=20&m=1195458582&s=612x612&w=0&h=gzpAJTwppTIEAhNbUaHnjuRQoYon0F4C87UQ3xXv1oU=');*/
	background-size: cover;
	background-position: center;
}


/*structure*/
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.inner-column{
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding: 25px 20px;
	/*border: 3px solid yellow;*/

}

/*typograhpy*/
h1{
	font-family: sans-serif;
	font-size: 40px;
}

h2{
	font-size: 30px;
	font-family: sans-serif;
}

p{
	font-size: 16px;
	line-height: 1.4;
	font-family: sans-serif;
}

p + p{
	margin-top: 14px;
}

h1 + p {
	margin-top: 20px;
}

/*site section*/ 

.site-header{
	background-color: lightblue;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);
}

.site-header .inner-column{
	padding: 14px;
}
.page-content{
	background-image: url('https://media.istockphoto.com/photos/aerial-view-of-misty-mountains-at-sunrise-picture-id1195458582?k=20&m=1195458582&s=612x612&w=0&h=gzpAJTwppTIEAhNbUaHnjuRQoYon0F4C87UQ3xXv1oU=');
	background-size: cover;
	background-position: center 20%;
	flex-grow: 1; /*true*/

}
.page-header{
	/*background-color: lightblue;*/
	background-color: rgba(255,255,255,.4);
}

.about{
	background-color: lightblue;
}

.contact{
	/*background-color: lightgreen;*/
	color: white;
}

.site-footer{
	background-color: #333;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

@media (min-width: 800px) {
	.contact{
		background-color: transparent;
	}
	.page-header{
		color: green;
		text-shadow: -0.5px 2px 0 black;
	}
}



