
article-card {
  display: block;
  /* */
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 4vh;
}

article-card .attention{
  padding: 0px;
  margin: 5px;
}


article-card picture:hover {
  background: rgba(164, 156, 132, 0.5);
} 

article-card .link{
  border: 1.5px solid black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--black);
  color: var(--white);
}

article-card .link:hover{
  background-color: var(--white);
  color: var(--black);
}

article-card .calm-voice{
  padding: 0.5vh;
  margin: 5px;

}

article-card h2 {
  padding-top: 5px;
}

article-card a {
  margin-top: auto;
  color: var(--color);
  padding: 10px;
}

