
mast-head {
  display: block;
  margin: 0px;
  padding: 0px;
}

mast-head nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

mast-head .logo {
  max-width:  40px;
}

mast-head .nav-link {
  font-family: Avenir;
  font-size: 1rem;
  padding-left:  10px;
  text-decoration: none;
}
mast-head .nav-link:hover{
  text-decoration: underline;
}

mast-head .user-menu img{
  max-width: 30px;
}

@media (min-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
