

contact-list{
	display: block;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
	
	
}

.info {
	border: 2px solid var(--black);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px var(--accent);
	margin-top: 30px;
	margin-bottom: 13vh;
}

