.instruction-text {
    border: 2px solid var(--black);
    background-color: var(--white);
    padding: 10px 10px;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 5px; 

    position: fixed;
    top: 40%;
    left: 0%;
    width: 100%;
    height: 15%;
}



.next-btn {
    border: none;
    background-color: var(--color);
    color: var(--white);
    max-width: 200px;
    padding: 7px 10px;
}

/*.next-btn:last-child {
    background-color: yellow;
}
*/

