.login-content {

	display: grid;
	place-items: start;
	gap: 20px;
}

.login-content form {

	display: grid;
	place-items: center;
	gap: 20px;
}

.fields {
	display: flex;
	flex-direction: column;

}

.input-text {
	padding: 5px 10px;
	background-color: var(--paper);
}

.account-btn {
	border: none;
	background-color: var(--paper);
	text-decoration: underline;

}


.start {
	border: none;
    background-color: var(--color);
    color: var(--white);
    max-width: 200px;
    padding: 15px 50px;
}