.login-content {

	display: grid;
	place-items: center;
	gap: 50px;
}

.login-content form {

	display: flex;
	flex-direction: row;
	gap: 10px;

}

.fields {
	display: flex;
	flex-direction: column;
}



.input-text {
	padding: 5px 10px;
	background-color: var(--paper);
}

.account-btn {
	border: none;
	background-color: var(--paper);
	text-decoration: underline;

}


.standard {
	border: none;
    background-color: var(--color);
    color: var(--white);
    max-width: 200px;
    padding: 7px 10px;
}

