

.maker-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    place-items: center;
    height: 100%;
}
button *  {
    pointer-events: none;
}




.topping-logo {
  /*  min-width: 70px;*/
    grid-area: ".topping-logo";
}


.pizza-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    gap: 50px;
}





/* topping options */
.crust-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    width: 45%;
    position: relative;
}

.topping-list {
    background-color: #c3d5c9;

}

[data-layer='w-crust'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;

}

[data-layer='ww-crust'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='pesto-sauce'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;

}


[data-layer='tomato-sauce'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='bacon'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
} 

[data-layer='cheddar']{
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='mixed'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
} 

[data-layer='chicken' ] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='feta'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
} 

[data-layer='ham'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='mozzarella'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[ data-layer='mozzarella' ] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='mushroom'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[ data-layer='olives'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='pepperoni'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='peppers'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}


[data-layer='pineapple'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='sausage' ] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='sliced-moz'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

[data-layer='tomatoes'] {
    display: none;
    grid-column: 2 / span 10;
    grid-row: 1;
    z-index: 1;
    width: 85%;
    place-items: center;
}

.w-crust-show {
    display: block;
}

input[type="radio"] {
  display: none;
}



[data-outlet='choices'] {
    display: flex;
    flex-direction: row;
    width: 100%;
}




.topping-items {
    display: grid;
    grid-template-areas: 
    ".topping-logo .topping-logo .topping-logo .topping-logo .topping-logo"
    ".topping-list .topping-list .topping-list .topping-list .topping-list";

    grid-template-rows: 1fr auto;
    width: 100%;
    max-width: 400px;
    min-width: 400px
}

.top-btn {
    
}




[data-outlet='choices'] .topping-list {
    grid-area: ".topping-list";
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
    padding: 3px;

}

.topping-img {
    flex-grow: 1;
    max-width: 70px;
}

[data-options='crust']  {
    background-color: var(--crust);
}

[data-options='sauce'] {
    background-color: var(--sauce);
}

[data-options='cheese'] {
    background-color: var(--cheese);
}

[data-options='meat'] {
    background-color: var(--meat);
}

[data-options='veggies'] {
    background-color: var(--veggies);
}


.topping-options {
    display: flex;
}

.topping-list button {
    display: block;
    text-align: center;
    cursor: pointer;
}

.topping-items nav {
    display: flex;
}



.maker-button {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;

}

.default-btn, .save-btn, .signOut-btn  {
    
    background-color: var(--color);
    color: var(--white);
    max-width: 200px;
    padding: 7px 10px;
}

.maker-button.btn-dimmer {
    opacity: 0.2;
}


.crust-container.crust-dimmer {
    opacity: 0.2;
    pointer-events: none;
}

.instruction-overlay.disappear { 
    display: none;
}

.instruction-overlay.appear {
    border: 2px solid var(--black);
    background-color: var(--white);
    padding: 10px 10px;
    display: grid;
    place-items: center;
    text-align: center;
    position: fixed;
    top: 40%;
    gap: 20px;
    width: 100%;
    max-width: 90%;
}


.instruction-overlay.gone {
    display: none;
}

.crust-container.show {
    opacity: 1;
    pointer-events: none;
    width: 100%;
    min-width: 400px;
}

.maker-button.see {
    opacity: 1;
}





.crust-container.crust-dimmer2{
    opacity: 0.2;
    pointer-events: none;
}

.maker-button.btn-dimmer2 {
    opacity: 0.2;
}

.topping-items.topping-dimmer {
    opacity: 0.2;
}

.crust-container.crust-bright {
    opacity: 1;
}

.maker-button.btn-bright {
    opacity: 1;
}

.topping-items.topping-bright {
    opacity: 1;
}


.save-overlay.save-disappear {
    display: none;
}



.save-overlay.save-appear {
    display: block;
     border: 2px solid var(--black);
    background-color: var(--white);
    width: 50%;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    left: 25%;
    top: 40%;
}


.save-overlay.save-none {
    display: none;
}





.x-btn {
    border-radius: 100px;
    padding: 7px 10px;
    background-color: var(--color);
    position: fixed;
    top: 38%;
    left: 70%;
    color: var();
}




/*svg [data-topping='ww-crust'] {
    fill: 2px solid red;
}

[data-topping='tomato-sauce'] {
    display: none;
}

[data-topping='tomato'] {
    display: none;
}
*/
.tomato {
    border: 5px solid orange;
}




.p-appear {
    display: block;
}


[data-topping="ham"].show {
    border: 2px solid orange;
}


.sauceGone {
    display: none;
}


#w-crust.w-crustShow {
    display: block;
}

.instruction-overlay.no-show {
    display: none;
}



.warning.warning-gone {
    display: none;
}


.warning.warning-show {
    display: block;
}







