
main {
	display: grid;
	place-items: center;
	height: 100%;
}

.welcome-content {
	width: 100%;
	display: grid;
	place-items: center;
	gap: 50px;
	text-align: center;

}

.welcome-container {
	width: 100%;
	display: grid;
	place-items: center;
}

.welcome-container button {
	display: block;
	width: 30%;

}

.welcome-content text-content {
	display: grid;
	gap: 10px;
	max-width: 100%;
}


.login-btn {
	border: none;
    background-color: var(--color);
    color: var(--white);
    max-width: 200px;
    padding: 10px 40px;
}

.header-img {
	max-width: 30px;
}