<!doctype html> 

<html>

    <meta name="author" content="Lilian Habib">
  <head> 
    <meta charset="utf-8">
    <meta name="description" content="Hello! I'm Lilian and welcome to my website. I am a teacher and aspiring developer hoping to reform classroom pedagogies to be more inclusive of technology. So I decided to embark on a journey to learn coding at Perpetual Education - Design for the Web. For the next 6 months, I'll be learning everything about the web and I'll be documenting my journey here. Feel free to reach out if you have any questions!">

    <meta name="viewport" content="width=device-width,initial-scale=1">
  

    <meta property="og:image" content="https://peprojects.dev/alpha-5/lilian/images/lilian1.png">
    

    <link rel="shortcut icon" href="images/lilian1.png" type="image/png">

    <link rel='stylesheet' href='layout1.css'>
    
    <!-- font --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap" rel="stylesheet">

  
    <!-- Facebook Meta Tags -->
      <meta property="og:url" content="https://peprojects.dev/alpha-5/lilian/">
      <meta property="og:type" content="website">
      <meta property="og:title" content=" index ">
      <meta property="og:description" content="Hello! I'm Lilian and welcome to my website. I am a teacher and aspiring developer hoping to reform classroom pedagogies to be more inclusive of technology. So I decided to embark on a journey to learn coding at Perpetual Education - Design for the Web. For the next 6 months, I'll be learning everything about the web and I'll be documenting my journey here. Feel free to reach out if you have any questions!">
      <meta property="og:image" content="https://peprojects.devimages/metalilian.png?hello">

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="peprojects.dev">
      <meta property="twitter:url" content="https://peprojects.dev/alpha-5/lilian">
      <meta name="twitter:title" content=" index ">
      <meta name="twitter:description" content="Hello! I'm Lilian and welcome to my website. I am a teacher and aspiring developer hoping to reform classroom pedagogies to be more inclusive of technology. So I decided to embark on a journey to learn coding at Perpetual Education - Design for the Web. For the next 6 months, I'll be learning everything about the web and I'll be documenting my journey here. Feel free to reach out if you have any questions!">
      <meta name="twitter:image" content="https://peprojects.devimages/metalilian.png">

    <title>Lilian's Responsive Layout Garden</title>
  </head> 

  <body> 
    <header> 
      <inner-column> 
        <header-nav>  
          <a href='#' class='logo'>
            <img src='https://peprojects.dev/alpha-5/lilian/projects/responsive-layout-garden/images/slack-logo.png'> 
          </a> 
        </header-nav> 
      </inner-column> 
    </header> 

    <hr>

    <main>
      <inner-column> 
        <section class='main-intro1'> 
          <div class='introduction'>
            <h1>Where Work Happens</h1> 
            <p>When your team needs to kick off a project, hire a new employees, display some code, review a sales contract, finalize next year's budget, measure an A/I test, plan your next office opening and more, Slack has you covered.</p> 
            <a href='#' class='button'>Get Started</a> 
            <span class='signin'>Already using Slack?<a href='#'>Sign in</a></span>
          </div> 

          <picture> 
            <img src='https://peprojects.dev/alpha-5/lilian/projects/responsive-layout-garden/images/working.png' class='img1'> 
          </picture> 
        </section> 
      </inner-column> 
    </main> 
  </body>
</html>
