.back-link{
	margin-bottom: 10px;

}

.cafe_name{

}

.cafe_content{
	display: flex; 
	flex-direction: row; 
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.description{
	max-width: 300px;
	margin-left: 15px;
}

.detail picture{
	width: 300px;
}

.detail img{
	width: 100%; 
	height: auto;
}