.cafe {
	
}

.cafe-list{
	display: grid;
	grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
	gap: 10px;
}

cafe-card{
	display: block;
	border: 1px solid grey;
	padding: 10px;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

/*.cafe + .cafe{
	margin: 30px;
}*/

ul{
	list-style: none;
}


picture{
	width: 200px;
}

img{
	width: 100%;
	height: auto;
}

cafe-card a{
	text-align: center;
	padding: 5px;
	margin-top: auto;
}