.cafe {
	
}

.cafe-list{
	margin: 10px;
	display: grid;
	grid-template-columns: repeat(3, minmax(175px, 1fr));
	gap: 10px;
}

@media (max-width: 600px){
	.cafe-list {
		grid-template-columns: repeat(2, minmax(150px, 1fr));
	}
	
}


cafe-card{
	display: block;
	border: 1px solid var(--universal);
	padding: 10px;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	min-height: 150px;
}

/*.cafe + .cafe{
	margin: 30px;
}*/

ul{
	list-style: none;
}


picture{
	width: 200px;
}

img{
	width: 100%;
	height: auto;
}

cafe-card a{
	text-align: center;
	padding: 5px;
	margin-top: auto;
}
