exercises-list {
	display: block;
	margin-bottom: 7vh;

}

text-content {
	display: block;
}

.exercises exercises-list{
	margin-bottom: 10vh;
}

.exercise-section {
	border: 2px solid var(--black);
	margin-top: 4vh;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 30px;
	box-shadow: 10px 10px var(--accent);
	max-width: 400px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.exercises .page-links .page-link:first-child {
	min-width: 300px;
}


.exercise-section .page-link {
	max-width: 250px;
	margin-top: 20px;
}

.form {
	border: 1px solid var(--black);
	padding: 20px;
	border-radius: 30px;
	margin-top: 2vh;

}

.buttons {
	display: flex; 
	flex-direction: row;
	justify-content: start;
	margin-left: auto;
	margin-right: auto;
	gap: 20px;
}

button {
	display: block;
	margin-top: 10px;
	border: 1px solid var(--accent);
	border-radius: 10px;
}

.field {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

input, button {
	padding: 7px; 
}

label {
	padding-top: 5px;
}

input {
	margin-top: 5px;
	border: 1px solid var(--accent);
	border-radius: 10px;
}



