

body{
background-color: darkolivegreen;
padding: 20px;
}

nav a{
	text-decoration: underline;
}

nav {
	display: flex;
}

nav a{
	padding: 10px;
}

h1{
	font-size: 40px;
}

.page-content{
	border: 1px dashed limegreen;
}

car-card{
	display: block;
	border: 1px solid grey;
	padding: 10px;
}

.car + .car{
	margin-top: 30px;
}

ul{
	list-style: none;
}

car-card a{
	text-decoration: underline;
}

picture{
	width: 200px;
}

img{
	width: 100%;
	height: auto;
}


form{
	padding: 30px 0;
}


field{
	display: block;
}

field label, field input{

}

field :is(label, input){
	display: block;
}

field + field {
	margin-top:  20px;
}