about-text {
	display: block;
}

about-text text-content {
	display: block;
	border: 2px solid var(--black);
	margin-top: 4vh;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 10px 10px var(--accent);
}




