footer {
	display: block;
	background-color: var(--highlight);
	color: var(--white);
	padding: 10px;
}

footer inner-column {
	display: flex;
	flex-direction: row;
	margin: 10px;
	margin-left: auto;
    margin-right: auto;
}

footer-item {
	display: block;
	padding: 5vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr 0.25fr;
	gap: 30px;

	grid-auto-flow: row;
	grid-template-areas: 
	"a a b b c c d d "
	"e e f f f f g g ";


}


.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;}
.g {grid-area: g;}

footer-item  .d {
	gap: 10px;
	min-width: 300px;
}


.e list-item {
	opacity: 1;
}

.a .b .c .d  {
	display: flex;
	flex-direction: column;
	padding: 10px;
}



links {
	display: block;
	display: flex;
	flex-direction: row;
	gap: 17vh;
}

footer-item  .d {
	background-color: var(--info);
	padding: 30px;
	display: grid;
	grid: 20px;
}



.footer-category {
	display: flex;
	flex-direction: column;
}

list-item {
	display: block;
	display: flex;
	flex-direction: column;
}



list-item a {
	text-decoration: none;
}


.input {
	padding: 15px 100px 15px 10px;
	border-radius: 5px;
	border: none;
}

footer-item .e {
	max-width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer-item .f {
	display: flex;
	flex-direction: row;
	gap: 20px;

}


footer-item .g {
	display: flex;
	flex-direction: row;
	max-width: 150px;
	gap: 15px;

}



.e .f .g {
	display: flex;
	flex-direction: row;
}



@media (max-width: 850px) {
	footer-item {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 25px;
		grid-template-areas: 
			"a a b b c c"
			"d d d d d d"
			"e f f f g g";
	}

}
