

.call-to-action-section inner-column {
	padding: 10vh 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.call-to-action-section introduction {
	text-align: center;
}

button {
	display: block;
	background-color: var(--highlight);
	border: none;

}

.cta-link {
	text-decoration: none;
	color: var(--white);
	padding: 10px 22px;
}


@media (max-width: 699px) {
	.call-to-action-section {
		background-color: var(--background);
	}
}

@media (min-width: 700px) {
	.call-to-action-section inner-column {
		background-color: var(--background);
	}
}