svg{
  display: block;
  width: 100%;
  height: 100%;
}

.head {
  fill: #EBEBEB;
}

.ears {
  fill: #EBEBEB;
}

.ears1{
  fill: #EBEBEB;
}

.mouth{
  fill: #AF6868;
}

.eyes, .eyes1{
  fill: rgb(13,13,13)
}

.arm, .arms{
  fill: rgb(235,235,235);
}

.leg, .leg1{
  fill: rgb(235,235,235);
}

picture{
  display: block;
  max-width: 500px;
}

picture .body:hover{
  fill: pink;
}

picture .head:hover{
  fill: lightblue;
}

picture .ears:hover{
  fill: lightblue;
}

picture .ears1:hover{
  fill: lightblue;
}

