
/* COMPONENTS */
.button {
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
  letter-spacing: .05em;
  text-decoration: underline;
  padding:  10px 0;
  /* should a link look like a "button" though? */
  display: flex;
  flex-direction: row;
  border:  1px solid black;
  padding:  10px;
  text-decoration: none;
  font-family: Avenir;
  font-weight:  400;
}

.arrow {
  /* maybe icons in here? Any reusable smaller things */  
}
