/* STRUCTURE */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* for the footer */
} 

/* explained here: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer */

main {
	flex-grow:  1; /* push the footer down */
}

inner-column {
	display:  block;
	max-width: 1100px; /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 30px 14px; /* a default */
}
