
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

/*@import 'developer-styles.css'; */
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/graphic-diptych.css';
@import 'modules/call-to-action.css';
@import 'modules/articles-intro.css';
@import 'modules/article-card.css';
@import 'modules/site-map.css';
@import 'modules/product-grid.css';
/* should everything/nothing be in it's own file? */


/* ACTUAL SITE STYLES */
html {
	background-color: var(--white);
}




/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/


/* SITE SECTIONS */
.site-header {
	/*background-color: #9ec9eb;*/

	/*box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);*/
}
.site-header inner-column {
	padding: 10px;
}





/* OK! SITE STYLES! */
.site-header {
  background-color: var(--color);
  color: var(--white);
}

.welcome {
		background-image: url(https://peprojects.dev/alpha-5/lilian/pe-projects/theme-challenge/images/welcome.jpg);
		background-size: cover;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.8; 
		background-attachment: fixed;
}

/* things kinda just start grouping up... and you'll know when something should be grouped into another file - most of the time */


.get-involved {
/*  background-color:  var(--highlight);
  background-image:  url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
  background-image: url("https://peprojects.dev/alpha-5/lilian/pe-projects/theme-challenge/images/action2.jpg");
	background-size: cover;
	height: 100%;
	background-position: top;
	background-repeat: no-repeat;
	opacity: 0.8; 
} /* interesting way to include the whole image in your CSS */

.get-involved inner-column {
	/*max-width:  700px;*/
}

.get-involved call-to-action {

}



.stuff {
  
}

.help-us {
  background-image: url(https://peprojects.dev/alpha-5/lilian/pe-projects/theme-challenge/images/action3.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;

}

.site-footer {
	background-color: var(--color);
	color: var(--white);
}

.site-footer .logo {
	max-width:  60px;
}

