
@import "reset.css"; 
@import "setup.css";

@import "typography.css"; 
@import "components.css";
@import "forms.css";
@import "menu.css"; 

/*body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
	min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html{
	--swing-white:  #F9F6EE;
}*/

.page-content{
	padding: 15px;
}

car-card{
	display: block;
	border: 1px solid grey;
	padding: 10px;
}

.car + .car{
	margin-top: 30px;
}

ul{
	list-style: none;
}

car-card a{
	text-decoration: underline;
}

picture{
	width: 200px;
}

img{
	width: 100%;
	height: auto;
}

