layout-list {
	display: block;

}

.layouts inner-column {
	max-width: 1000px;
}

.layout-item {
	border: 2px solid var(--black);
	margin-top: 4vh;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 30px;
	box-shadow: 10px 10px var(--accent);
	margin-bottom: 7vh;

}


.layouts .page-links .page-link:first-child {
	min-width: 300px;
}

/*github*/

.main-intro1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: ;

}

.introduction {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-top: 4vh;
}

.button-voice{
	display: block;
	margin-top: 20px;
	border: 2px solid var(--accent);
	background-color: var(--accent);
	color: var(--white);
	border-radius: 40px;
	padding: 10px;
	width: 100%;
	text-align: center;
}

.button {
	width: 30%;
	padding: 10px;
	margin-top: 20px;
	border: 2px solid var(--accent);
	background-color: var(--accent);
	color: var(--white);
	border-radius: 40px;
	width: 50%;
	text-align: center;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}


.sign-in {
	margin-top: 3vh;
}

.work-img {
	max-width: 500px;
}

.img1 {
		width: 100%;
	}

header-nav { 
  padding-bottom: 2vh;
}

/*form*/
.intro-form {
	margin-top: 5vh;
	padding: 20px;
	border: 2px solid var(--accent);
	border-radius: 20px;
	display: flex; 
	flex-direction: column; 
	justify-content: start;
	align-items: center;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}


label {
  display: block;
  padding-top: 15px; 
  font-size: 12px;
  font-weight: bolder;
  text-align: left;
}

input{
  display: block;
  padding: 10px;
  min-width: 300px;
  border-radius: 5px;
  border: 0.5px solid #000;
  margin-top: 5px;
}

.intro-form .button-voice{
  display: block;
  background-color: var(--accent);
  border: none;
  border-radius: 20px;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px;
  color: var(--white);
}


.descriptive-voice{
	max-width: 300px;
	margin-top: 5px;

}


/*main 2 intro*/

.main-intro2 {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-top: 5vh;
}

.signup2 {
	border: 2px solid var(--accent);
	padding: 10px 10px;
	border-radius: 30px;
	max-width: 40%;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}

.main-intro2 .button {
	background-color: var(--white);
	color: var(--accent);
}



/*Layout 3 */ 

.intro {
	background-color: var(--black);
	color: var(--white);
	padding: 15px;
	padding-top: 10vh;
	padding-bottom: 2vh;
	margin-bottom: 5vh;
}

.intro .little-voice {
	color: var(--color);
	font-weight: bolder;
	font-size: 12px;

}

.intro .intro-voice {
	font-size: 14px;
	line-height: 1.2em;
	font-weight: lighter;
}

.intro .crazy-voice {
	font-weight: bolder;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px
}

.detail-section {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.detail-img {
	max-width: 20px;
	background-color: var(--color);
	border-radius: 100%;
}

.detail-img img {
	width: 100%;
	height: auto;
	opacity: 0;
}

.detail-section .detail {
	padding: 15px;
	padding-top: 2vh;
	background-color: var(--white);
	border: 2px solid var(--black);
}

.detail .bold-voice {
	font-weight: bolder;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.detail .quiet-voice {
	font-size: 12px;
	line-height: 1.2em;
}




/*LAYOUT 3*/

@media (max-width: 350px) {
	.detail-section {

		gap: 20px;
	}
}

@media (max-width: 590px) {

	.intro .little-voice {
		display: none;
	}

	.intro .large-voice {
		display: none;
	}
}

@media (min-width: 400px) {

	.detail-section {
		gap: 20px;
		position: relative;
		bottom: 100px;
	}

	.detail-section .detail {
		max-width: 370px;
		padding: 30px;
	}

	.intro {
		padding-bottom: 15vh;
	}
}


@media (min-width: 600px) {

	.detail-section {
		flex-direction: row;
		justify-content: center;

	}

	.detail-section .detail {
		max-width: 30%;
	}

	.intro {
		padding-left: 22px;
	}

	.intro .crazy-voice {
		font-size: 25px;
	}

	.intro .intro-voice {
		font-size: 17px;
		max-width: 400px;
	}

	.intro .small-voice {
		display: none;
	}

	.detail .bold-voice {
		font-size: 17px;
	}

	.detail .quiet-voice {
		font-size: 13px;
	}


/*LAYOUT 1 & 2*/

@media (min-width: 700px) {
	.main-intro1 {
		flex-direction: row-reverse;
		justify-content: space-evenly;
		gap: 30px;
	}

	.introduction {
		max-width: 400px;
	}

	.work-img {
		max-width: 800px;
	}
}



@media (max-width: 600px) {
	.intro-form{
    	display: none;
  }
}