<link rel='stylesheet' href='layout5.css'>

<header> 
    <header-nav> 
       <inner-column> 
      <a href='#' class='logo'>
        <img src='#'> 
      </a>
        </inner-column>
    </header-nav>  
</header> 

<main>
  <inner-column> 
    <section class='intro1'> 
      <div class='introduction'>
        <h1>Built for developers</h1> 
        <p>GitHub is a development platform inspired by the way you work from open source to business you can host and review code, manage projects, and build software alongside millions of other developers.</p> 

        
        <a href='#' class='button'>Sign up for GithHub</a>
        
      </div>  
    </section> 
    
    <section class='intro2'>
      <span>GitHub for teams</span> 
      <h2> A better way to work together</h2> 
      <p>GitHub brings people together to work through problems, move ideas forward, and learn from each other along the way.</p> 
      <a href='#' class='signup2'>Sign up your team</a> 
    </section> 
  </inner-column> 
</main> 