@import"../css/meyer-reset.css"; 
/*@import"../css/developer.css"; */
@import"../css/settings.css"; 
@import"../css/setup.css"; 

html {
  --black: #111111;
  --white: #FFFFFF;
  --color: #FE11A8;
  --highlight: #DCDCDC;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}



layout-overview {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-bottom: 7vh;
	max-width: 1080px;
	border: 2px solid orange;


}

.header-menu {


}

.header-menu picture {
	display: block;
	max-width: 50px;
}


.header-menu header{
	display: block;
	border: 2px solid blue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;

}

nav2{
	display: block;
	display: grid;
	gap: 5px;
}

.line {
	display: none;
	border: 2px solid black;
	width: 30px;
	background-color: black;

}

.site-intro {
	border: 2px solid red;
	padding: 10px;
	padding-top: 7vh;
	padding-bottom: 7vh;
	display: flex;
	flex-direction: column;

}

nav {
	display: block;
	display: none;
}

nav a{
	display: block;

}

.site-intro a {
	border: 2px solid green;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.loud-voice {
	font-size: 40px;
	font-weight: bolder;
}

.calm-voice {
	font-size: 30px;
	font-weight: bolder;
	max-width: 350px;
	line-height: 1.2em;
}

.site-description {
	padding: 10px;
	padding-top: 5vh;
	padding-bottom: 5vh;

}

.logo-grid {
	border: 2px solid green;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo-list {
	border: 2px solid blue;
	display: inline-grid;
	gap: 20px;
	grid-template-columns: repeat(2, 100px);
	padding: 10px;
	max-width: 1000px;
}


.logo-grid picture {
	display: block;
	max-width: 100px;


}

.logo-grid img {
	width: 100%;
	height: auto;
}



@media (min-width: 600px) {

	.site-intro{
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.loud-voice {
		font-size: 50px;
	}

	.loud-voice {
		border: 2px solid red;
		max-width: 300px;
	}

	.logo-list {
		grid-template-columns: repeat(3, 1fr) auto;
	}

	.calm-voice {
		max-width: 100%;
	}
}


@media (min-width: 900px) {

	.logo-list {
		grid-template-columns: repeat(4, 1fr) auto;
	}

	.calm-voice {
		max-width: 700px;
	}

	.loud-voice {
		font-size: 100px;
		max-width: 600px;
	}


}


















