
article-card {
  display: block;
  /* */
  padding: 5px;
  display: flex;
  flex-direction: column;
}


article-card picture:hover {
  background: rgba(164, 156, 132, 0.5);
} 

article-card .link{
  border: 1.5px solid black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--black);
  color: var(--white);
}

article-card .link:hover{
  background-color: var(--white);
  color: var(--black);
}

article-card .calm-voice{
  padding-bottom: 2vh;
}

article-card h2 {
  padding-top: 20px;
}

article-card a {
  margin-top: auto;
  color: var(--color);
  padding: 10px;
}

