
articles-intro {
  display: block;
  padding-bottom: 4vh;
  text-align: center;
}

articles-intro header {
  margin-bottom: 2vh;
  text-align: center;
}

articles-intro article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.1em;
}
