call-to-action {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  /* */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

call-to-action a {
  margin-top:  20px;
}



@media (min-width: 600px) {
  call-to-action {
    padding: 100px;
  }
}
call-to-action text-content{
  display: block;
  max-width: 500px; 
  background-color: rgba(255,255,255,0.5);
  padding: 15px;

}


.buy span {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: .05em;
  padding:  10px 0;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding:  10px;
  background-color: black;
  font-family: Avenir;
  font-weight:  400;

}

.buy span:hover{
  background-color: white;
  color: black;
}
.buy {
  background-color: black;
  border: none;
  font-size: 15px;
  font-weight: bold;
  
}