
mast-head {
  display: block;

}

mast-head nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

mast-head .logo {
  max-width:  60px;
}

mast-head .nav-link {
  font-family: Avenir;
  font-size: 1rem;
  padding:  10px;
}
mast-head .nav-link:hover{
  text-decoration: underline;
}

@media (min-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
