
site-map {
  display: block;
  /* */
  padding-top: 40px;
  padding-bottom: 120px;
  /* */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

site-map h3{
  font-weight: bold;
}

site-map .logo {
  max-width:  40px;
}

site-map .logo * {
  fill: currentColor;
}

site-map a {
  font-family: Avenir;
  font-size: 1rem;
  padding-top:  10px;
  text-decoration: none;
}

.site-footer .what-to-call-it-then p{
  line-height: 1.5;
  font-size: 15px;
}

site-map .social-menu icon{
  display: block;
  display: flex; 
  flex-direction: row; 
  justify-content: start;
  align-items: center;
  gap: 10px;
}
site-map .social-menu img{
  max-width: 30px;
}

site-map subsribe{
  display: block;
  margin-top: 20px;
}

site-map subsribe h3{
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 10px;
  line-height: 1.2;
}

site-map subsribe .email{
  border: none;
  max-width: 300px;
  padding: 5px;

}

site-map subsribe a{
  background-color:  rgba(139,132,114,1);
  border: none;
  color: var(--white);
  padding: 5px;
  max-width: 100px;
  margin-top: 10px;
  
  /*  */

  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width:  700px) {
  site-map nav {
    width:  50%;
  }
}

@media (min-width:  900px) {
  site-map nav {
    width:  25%;
  }
}

site-map nav {
  flex-grow:  1;
}
