@import"../css/meyer-reset.css"; 
/*@import"../css/developer.css"; */
@import"../css/settings.css"; 
@import"../css/setup.css"; 



html {
  --black: #111111;
  --white: #F7F1E4;
  --primary: #DF9E9C;
  --secondary: #F9F5AD;
  --highlight: #ACC6E6;
}


p {
  color: red;
}

grid-section {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  display: block;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  background-color: var(--black);
  grid-template-rows: repeat(9, 50px);
}

.one {
  background-color: var(--white);
  grid-column: span 2;
}

.two {
  background-color: var(--white);
  grid-column: span 4;
}

.three {
  background-color: var(--secondary);
  grid-column: span 2 / 9;
              /* go over two boxes and end at the 7th line*/ 
}

.four {
  background-color: var(--white);
  grid-row: span 2;
  grid-column: 1;
}

.five {
  background-color: var(--primary);
  grid-column: 2 / span 5;
  grid-row: span 5;
}

.six {
  background-color: var(--secondary);
  grid-column: span 2 / 9;
  grid-row: span 2;
}


.seven {
  background-color: var(--white);
  grid-row: span 4;
}

.eight {
  background-color: var(--white);
  grid-column: span 1;
  grid-row: span 3;
}

.nine {

  background-color: var(--white);
  grid-row: span 3;
}

.ten {
  background-color: var(--black);
  grid-column: span 3;
  grid-row: span 3;
}

.eleven {
  background-color: var(--white);
  grid-column: span 2;
  grid-row: span 1;
}

.twelve {
  background-color: var(--white);
  grid-column: span 2;
  grid-row: span 1;
}

.thirteen {
  background-color: var(--white);
  grid-column: span 2; 
  grid-row: span 1;
}

.fourteen {
  background-color: var(--highlight);
  grid-column: span 2;
  grid-row: span 8;
}

.fifteen {
  background-color: var(--secondary);
  grid-row: 8 / span 8;
}

.sixteen {
  background-color: var(--white);
  grid-column: span 3;
  grid-row: span 6;
}

.seventeen {
  background-color: var(--white);
  grid-column: span 2;
  grid-row:  span 6;
}











































