/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #9C0000;
	--paper: #F4ECD6;
	--highlight: #FFF500;
	--crust:  #FF6565;
	--sauce: #F5CD3F;
	--cheese:  #2DA59D;
	--meat: #B07FCD;
	--veggies: #FA8213;



}


/* USAGE */
