.loud-voice {
	font-size: 5vh;
	font-weight: 700;
	color: var(--black);
}


.intro-voice {
	font-size: 2vh;
	font-weight: 500;
	color: var(--black);
}

.bold-voice {
	font-size: 15px;
	font-weight: 700;
	color: var(--white);
}


.small-voice {
	font-size: 1.5vh;
	font-weight: 700;
	color: var(--white);
}

.teeny-voice {
	font-size: 10px;
}

.topping-list .teeny-voice {
	font-size: 1.5vh;
}

.label-voice {
	font-size: 12px;
}



