.loud-voice {
	font-size: 25px;
	font-weight: 700;
	color: var(--black);
}


.intro-voice {
	font-size: 13px;
	font-weight: 500;
	color: var(--black);
}

.bold-voice {
	font-size: 15px;
	font-weight: 700;
	color: var(--white);
}


.small-voice {
	font-size: 15px;
	font-weight: 700;
	color: var(--white);
}



