* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
}
inner-column,
picture,
img,
welcome-text,
sign-in,
button,
article-info,
links,
masthead,
footer-info,
main-nav,
action-info,
article-info,
article-grid {
  display: block;
}

inner-column {
  border: 2px solid black;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: hidden;
}

picture {
  max-width: 70%;
}

img {
  width: 100%;
  height: auto;
}

.header-nav {
  background-color: lightgreen;
}

.header-nav inner-column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

main-nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

main-nav a {
  padding: 10px;
}

sign-in {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

sign-in a {
  padding: 10px;
}

/* WELCOME */
.welcome-container {
  background-color: lightblue;
}

.welcome-container inner-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-info {
  max-width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

picture {
  padding: 10px;
}

img {
  padding: 10px;
}

h1 {
  border: 2px solid black;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  max-width: 375px;
}

p {
  border: 2px solid black;
  padding: 10px;
  max-width: 375px;
  font-size: 15px;
}

/* ACTION */

.action-container {
  background-color: lightpink;
  gap: 10px;
}
.action-container inner-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

action-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

h2 {
  font-size: 25px;
  padding: 10px;
  text-align: left;
}

button {
  background-color: black;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

button a {
  color: white;
  text-transform: uppercase;
}

/* ARTICLE  */
.article-container {
  background-color: orange;
  padding-top: 100px;
  padding-bottom: 100px;
}

.article-container inner-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 10px;
}

article h3 {
  max-width: 100%;
}

article p {
  max-width: 100%;
}

article-grid {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 10px;
}

article-info {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 10px;
}

.article1 {
  border: 2px solid black;
}

h3 {
  border: 2px solid black;
  font-size: 20px;
  padding: 10px;
}

/* FOOTER */
.footer-container {
  background-color: lightgrey;
}

.footer-container h3 {
  font-size: 25px;
}

.footer-container p {
  font-size: 15px;
  width: 100%;
}

footer-info {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  gap: 20px;
}

links {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 180px 150px;
  grid-template-rows: 150px fr;
  grid-gap: 20px;
  justify-content: center;
}

.page-links {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
}

.page-links a {
  border: 2px solid black;
  padding: 10px;
  width: 100%;
}

.signin-link {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.signin-link a {
  border: 2px solid black;
  padding: 10px;
}

.legal-links {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.legal-links a {
  border: 2px solid black;
  padding: 10px;
}

.social-links {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.social-links a {
  border: 2px solid black;
  padding: 10px;
}

/* MEDIA */
@media (min-width: 600px) {
  inner-column {
    max-width: 700px;
  }

  .header-nav inner-column {
    flex-direction: row;
    justify-content: space-between; /*not working */
  }

  .welcome-container inner-column {
    flex-direction: row-reverse;
  }

  picture {
    max-width: 50%;
  }

  action-info {
    border: 2px solid black;
    padding: 10px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  h2 {
    max-width: 100%;
  }

  .action-container p {
    max-width: 100%;
  }
  article-grid {
    border: 2px solid black;
  }

  article-info {
    min-height: 275px;
  }
  article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .footer-links {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }
}

@media (min-width: 700px) {
  inner-column {
    max-width: 900px;
  }

  footer-links {
    justify-content: space-around;
  }
}
