* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-info,
.parent1,
.parent2,
footer-info,
.logo,
img,
.header-nav,
.header-content,
.item-container,
.main1-items,
.main2-items,
.footer-item,
.footer-info,
.footer-content {
  display: block;
}

.header-info {
  background-color: #c6d2fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 10vh;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 600px;
}

.logo {
  margin: 10px;
  /*display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; */
}

.bali1 {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*add position: absolute here?*/
}

.header-nav a {
  padding: 10px;
  text-decoration: none;
  font-family: serif;
  color: #61677b;
}

/* FIRST SECTION */
.parent1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #7794f4;
  width: 100%;
  height: 35vh;
  position: relative;
}

.main1-img1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bali2 {
  max-width: 100%;
  width: 300px;
  height: 170px;
}

.main1-paragraph1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 300px;
  height: 165px;
  margin: 10px;
  font-size: 14px;
  line-height: 1.2;
}

.background-img1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25vh;
}

.background-img2 {
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 25vh;
}
/* second section */

.parent2 {
  background-color: #d6dffa;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.main2-items {
  margin: 10px;
  /*width: 200px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main2-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.main2-items img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px solid black;
  margin: 10px;
}

.main2-info h2 {
  text-align: center;
  font-weight: bolder;
}

.main2-info p {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  margin: 5px;
  /*border: 3px solid red;*/
  max-height: 90px;
}

.main2-info button {
  border-radius: 15px 15px;
  border: none;
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
}

.main2-info button a {
  color: white;
  text-decoration: none;
  font-family: serif;
}

.background-img3 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20vh;
}

/* footer section */
.footer-info {
  background-color: #3a4876;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*border: 3px solid red;
  width: 30%;
  margin: 10px;*/

}

.footer-item {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-item button {
  border: none;
  border-radius: 15px 15px;
  width: 150px;
  height: 30px;
  background-color: #c6d2fa;
  margin-top: 10px;
}

.footer-item p {
  font-size: 11px;
  overflow: scroll; 
}

/*BREAKING POINT STARTS*/

/*BREAKING POINT 1*/
@media (max-width: 800px) {
  .parent1 {
    width: 100%;
  }

  .main1-paragraph1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50%;
    overflow: scroll;
  }
  
  .main1-img1 {
    margin: 10px;
  }

  .background-img1 {
    display: none;
  }

  .background-img2 {
    display: none;
  }

  .background-img3 {
    width: 100px;
  }

  .parent2 {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .main2-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  .main2-items img {
    width: 160px;
    height: 130px;
  }

  .main2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0;
    width: 90%;
  }

  .main2-info p {
    text-align: left;
    width: 80%;
    max-height: 50px;
  }

  .main2-info button {
    background: none;
    text-decoration: underline;
    color: black;
    text-align: left;
  }

  .main2-info button a {
    color: black;
  }

  .main2-info h2 {
    margin: 5px;
  }

  .main2-info p {
    margin: 5px;
  }

  .footer-content {
    max-width: 400px;
  }
}

/*BREAKING POINT 2*/
@media (max-width: 500px) {
  /*SECTION 1*/
  .parent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 300px;
    width: 100%;
  }

  .main1-img1 {
    margin: 10px;
  }

  .bali2 {
    width: 250px;
    height: 125px;
  }

  .main1-paragraph1 {
    width: 60%;
    text-align: left;
    overflow: scroll;

  }

  /*SECTION 2 */
  .parent2 {
    height: 850px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .background-img3 {
    display: none;
  }

  .item-container {
    width: 95%;
  }
  .main2-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 10px;
    max-width: 100%;
  }

  .main2-items img {
    margin-left: 0;
    width: 120px;
    height: 120px;
  }

  .main2-info h2 {
    margin-top: 3px;
  }

  .main2-info p {
    margin-top: 3px;
    width: 90%;
    text-align: left;
    overflow: scroll;
  }

  /*FOOTER SECTION*/
  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: start;
    width: 100%;
    height: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 600px;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 10px;
  }
  
  .footer-item button{
    max-width:100%;
    font-size: 40%;
  }
}