@import "css/meyer-reset.css"; 
@import "css/settings.css"; 
@import "css/setup.css"; 
@import "css/typography.css";
@import "css/developer.css"; 


@import "css/site-header.css"; 
@import "css/modules.css";



* {
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif
}

body {


	/*	background-color: var(--black);*/
/*	color: var(--white);*/
}

inner-column {
	display: block;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
