@import "css/meyer-reset.css"; 
@import "css/settings.css"; 
@import "css/setup.css"; 
@import "css/typography.css";
/*@import "css/developer.css"; */


@import "css/site-header.css"; 
@import "css/modules.css";
@import "partials/header.css";
@import "pages/work-detail.css";
@import "pages/exercise-detail.css";
@import "pages/home.css";
@import "partials/footer.css";
@import "pages/404.css";



* {
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif; 
}

body {
	padding: 0;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1; /*fill up available space + push the footer down*/
}

inner-column {
	display: block;
	width: 98%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}




main {
	padding: 10px;
}

.page-header {
	padding-top: 10vh;
}

.page-link {
	text-decoration: none;
	border: 2px solid var(--black);
	padding: 10px 40px;
	border-radius: 20px 20px;
	box-shadow: 5px 5px var(--accent);
	text-align: center;
	position: relative;
}


.page-link:hover {
	font-weight: bolder;
}

.page-link:before {
  content: attr(data-label);
  font-weight: bold;
  visibility: hidden;
}

.button__label {
  position: absolute;
  top: 5px;
  left: 10px;
  right: 5px;
  bottom: 10px;
}




.toggle {
	max-width: 100px;
	background-color: var(--accent);
	border-radius: 30px;
	padding: 10px;
	margin: 0;
	border: 0;
}

.toggle:hover {
	max-width: 100px;
	background-color: var(--black);
	border-radius: 30px;
	padding: 10px;
	margin: 0;
}


/*toggle*/

body.fancy {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





@media (min-width: 600px) {
	.page-links {
		flex-direction: row;

	}
	
}


