
.faq-title{
	text-align: center;
	padding: 10px;
}

.question h2{
	font-weight: bolder;
	padding-left: 10px;
	padding-bottom: 2px;
}

.question p{
	padding-left: 10px;
}

.subtitle-faq{
	padding-top: 15px;
	padding-left: 10px;
}

.list-faq{
	list-style: none;
}