


.soft-voice{
	font-weight: bolder;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 5px;
}

.question p{
	padding-left: 10px;
}

.subtitle-faq{
	padding-top: 15px;
	padding-left: 10px;
}

.list-faq{
	list-style: none;
}