.site-menu{
	display: flex; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 10px;
}


.site-menu a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: Avenir;
	font-weight: bolder;
}

