@import "reset.css"; 
@import "setup.css"; 
@import "detail.css"; 
@import "masthead.css"; 
@import "faq.css";
@import "about.css"; 

*{
	font-family: Avenir;
}


body{
	background-color: lightgrey;
	padding: 20px;
}

nav a {
	text-decoration: underline;
}

nav{
	display: flex;
}

nav a{
	padding: flex;
}

h1{
	font-size: 40px;
}

.page-content{
	border:  1px solid lightyellow;
}


/*type*/

.loud-voice{
	text-align: center;
	padding: 10px;
}





