@import"../css/meyer-reset.css"; 
/*@import"../css/developer.css"; */
@import"../css/settings.css"; 
@import"../css/setup.css"; 



html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #FBDDF9;
	--highlight: #2F112D;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	padding: 10px;

}

.page-section {
	padding-bottom: 10vh;
	display: flex;
	flex-direction: column;
}

.detail {
	border: 2px solid green;
}

.detail-section {
	display: grid;
	grid-gap: 10px;
}

.intro {
	padding-bottom: 5vh;
	padding-top: 5vh;
	max-width: 400px;
}



.bold-voice {
	font-size: 17px;
	font-weight: bolder;
	padding-bottom: 1vh;
}

.loud-voice {
	font-size: 15px;
	padding-bottom: 1vh;
	padding-top: 1vh;
}

.tiny-voice {
	font-size: 12px;
	padding-bottom: 3vh;
	line-height: 1.5em;
}

.quiet-voice {
	font-size: 12px;
	font-weight: bolder;
	padding-bottom: 10px;
}

.small-voice {
	font-size: 11px;
}

hr {
	border: 0.5px solid var(--black);
	background-color: var(--black);
}


/*image-section*/

.image-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

picture {
	display: block;
	max-width: 300px;
	margin-bottom: 10px;
	background-color: var(--black);
}

img {
	display: block;
	width: 100%;
	height: 50%;
	opacity: 0;
}



/*1 */

@media (min-width: 550px) {

	body {
		padding-bottom: 0;
		padding-top: 0;
	}

	picture {
		max-height: 200px;
	}

	.detail-section {
		grid-template-columns: 1fr 1fr;
		padding-bottom: 5vh;
	}

	.page-section {
		padding-bottom: 0;
	}

	.detail {

	}

	.image-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	.img-column1 {
		padding-bottom: 10vh;

	}

	.img-column2 {
		padding-bottom: 10vh;
	}


}

@media (min-width: 700px) {
	main inner-column {
		display: block;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	picture {
		height: 100%;
	}

	.detail-section {
		padding-bottom: 0px;
	}

	.image-section {
		align-self: flex-end;
		padding-top: 10vh;
	}



}







